addons:
  code_climate:
    repo_token: 1bf05864d7e8ccf823646d5ada8f01a0c324eccc4fd16655f62322d566b1f103
branches:
  except:
    - gh-pages
cache: bundler
env:
  - COVERAGE=true
language: ruby
notifications:
  email:
    - dev@bitaculous.com
rvm:
  - 2.1.7
  - 2.2.3
services:
  - mongodb
sudo: false